* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}

h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 70px;
    z-index: 99;
}
.fs-60{
    font-size: 60px;
}
@media screen and (max-width: 480px) {
    .fs-60 {
      font-size: 40px !important;
    }
  }
.text-primary{
    color: #37517e  !important;
}
.bg-main{
    background: #0088C0 !important;
}
.text-blue{
    color: #37517e !important;
}
.bg-orange{
    background: #0088C0;
}
.bg-primary{
    background: #37517e !important;
}
.bg-grey{
    background: #f0f7fd !important;
}
.text-orange{
    color: #0088C0;
}
.bg-sec{
  background: #0088C0;
}
.bg-white{
    background: #fff;
}
.text-nxt{
 color: #01dcd0;
}
.br-5{
    border-radius: 5px;
}
.br-10{
    border-radius: 10px;
}
.border-green{
  border: 2px solid #1ebdc2;
  border-radius: 10px;
}
.border-primary{
    border: 5px solid #37517e !important;
}
.list-none{
    list-style: none;
}
.w-100{
    width: 100% !important;
}
.h-100{
    height: 100% !important;
}
.box-shadow{
    border-radius: 15px;
    box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.45);
}
.bx-shadow{
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.fs-17{
  font-size: 17px;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.fs-15{
    font-size: 15px;
}
.lh-0{
  line-height: 0px;
}
.text-justify{
    text-align: justify !important;
}

.linear-txt{
    background: -webkit-linear-gradient(#37517e, #0088c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border_r-45 {
    border-radius: 45px 0 45px 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.z-indx-1{
    z-index: 1;
}
.z-indx-2{
    z-index: 2 !important;
}
.z-indx-3{
    z-index: 3;
}

@media (min-width: 992px) {
            .border-right-lg {
                border-right: 1px solid black;
            }
        }

/*=======================
        fixed social icons 
    =============================*/
/* #fixed-social {
    position: fixed;
    top: 50%;
    z-index: 999;
    right: 0;
 }
 
 #fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
     line-height: 40px;
    width: 34px;
    margin-bottom: 1px;
    z-index: 2;
 }
 #fixed-social a:hover>span{
   visibility: visible;
   right: 35px;
   opacity: 1;
 } 
 #fixed-social a span {
     line-height: 40px;
     right: 60px;
     position: absolute;
     text-align: center;
     width: 120px;
     visibility: hidden;
     transition-duration: 0.5s;
     z-index: 1;
     opacity: 0;
     font-size: 13px;
 }
  .fixed-facebook{
      background-color: #00AAE5;
  }
  .fixed-facebook span{
     background-color: #00AAE5;
  }
  .fixed-twitter{
     background-color: #7D3895;
 
  }
  .fixed-twitter span{
      background-color: #7D3895;
  }
  .fixed-gplus{
     background-color: #00AF54;
 
  }
  .fixed-gplus span{
      background-color: #00AF54;
  }
  .fixed-linkedin{
     background-color: #FFC41E;
 
  }
  .fixed-linkedin span{
      background-color: #FFC41E;
  }
  .fixed-instagrem{
     background-color: #ED2B29;
 
  }
  .fixed-instagrem span{
      background-color: #ED2B29;
  }
  .fixed-tumblr{
     background-color: #EB1471;
 
  }
  .fixed-tumblr span{
      background-color: #EB1471;
  } */

  
/*===========================
                buttons  
    =================================*/
  .blog-btn {
    position: relative;
    background: linear-gradient(277deg, rgba(213, 213, 213, 0.1) 0%, rgba(213, 213, 213, 0.02) 50%, rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.2) 100%), linear-gradient(295deg, rgba(73, 73, 73, 0.3) 0%, rgba(73, 73, 73, 0.1) 50%, rgba(229, 229, 229, 0.1) 50%, rgba(229, 229, 229, 0.03) 100%), linear-gradient(145deg, rgba(77, 77, 77, 0.1) 0%, rgba(77, 77, 77, 0.1) 50%, rgba(123, 123, 123, 0.1) 50%, rgba(123, 123, 123, 0.1) 100%), linear-gradient(54deg, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(29, 29, 29, 0.2) 50%, rgba(29, 29, 29, 0.03) 100%), linear-gradient(170deg, rgba(9, 9, 9, 0.02) 0%, rgba(9, 9, 9, 0.02) 50%, rgba(243, 243, 243, 0.02) 50%, rgba(243, 243, 243, 0.02) 100%), linear-gradient(264deg, rgba(214, 214, 214, 0.01) 0%, rgba(214, 214, 214, 0.01) 50%, rgba(153, 153, 153, 0.01) 50%, rgba(153, 153, 153, 0.01) 100%), linear-gradient(90deg, rgb(99, 48, 222), rgb(76, 212, 233));
    padding: 10px 18px;
    border: 1px solid black;
    border-radius: 25px 7px;
    color: white;
    letter-spacing: .1em;
    transition: all .7s ease;
}

.blog-btn::after {
    position: absolute;
    top: 20%;
    left: 50%;
    background: linear-gradient(45deg, rgb(46, 94, 149), rgb(59, 131, 209), rgb(67, 91, 142));
    width: 150px;
    height: 30px;
    content: '';
    transform: translate(-50%);
    border-radius: 25px 7px;
    filter: blur(20px);
    z-index: -1;
}

.blog-btn:hover {
    border-radius: 7px 25px;
    background: linear-gradient(45deg, rgb(239, 7, 129) 0%, rgb(239, 7, 129) 6%, rgb(208, 10, 112) 6%, rgb(208, 10, 112) 25%, rgb(177, 13, 96) 25%, rgb(177, 13, 96) 40%, rgb(147, 16, 79) 40%, rgb(147, 16, 79) 45%, rgb(116, 19, 62) 45%, rgb(116, 19, 62) 53%, rgb(85, 22, 46) 53%, rgb(85, 22, 46) 66%, rgb(54, 25, 29) 66%, rgb(54, 25, 29) 100%);
    letter-spacing: .2em;
    border: 1px solid white;
}


.btn-btn a{
        z-index: 1;
        background-color: transparent;
        position: relative;
        display: inline-block;
        font-size: 16px;
        padding: 10px 35px;
        color: #fff;
        text-decoration: none;
        border: solid 5px #37517e;
        box-shadow: 12px 12px 0  -5px #37517e;
        transition: .3s;
         overflow: hidden;
        letter-spacing: 2px;
}

.about-sec-btn a{
    color: black !important;
}

.btn-btn a:before {
    display: inline-block;
    transition: bottom, 0.35s;
    position: absolute;
    transform: skew(-50deg);
    top: 0px;
    left: 260px;
    background-color: #37517e;
    content: "　";
    width: 220px;
    height: 120px;
    z-index: -1;
  }
  
  .btn-btn a:hover {
     box-shadow: 0px 0px 0  0px #37517e;
    color: #fff;
  }
  .about-sec-btn a:hover{
    box-shadow: 0px 0px 0  0px #37517e !important;
    color: #fff !important;
  }
  
  .btn-btn a:hover:before {
    top: -40px;
    left: -40px;
  }

  .btn-btn-carousel a{
    z-index: 1;
        background-color: transparent;
        position: relative;
        display: inline-block;
        font-size: 16px;
        padding: 10px 35px;
        color: #fff;
        text-decoration: none;
        border: solid 5px #1ebdc2;
        box-shadow: 12px 12px 0  -5px #1ebdc2;
        transition: .3s;
         overflow: hidden;
        letter-spacing: 2px;
  }

  .btn-btn-carousel a::before{
    display: inline-block;
    transition: bottom, 0.35s;
    position: absolute;
    transform: skew(-50deg);
    top: 0px;
    left: 260px;
    background-color: #1ebdc2;
    content: "　";
    width: 220px;
    height: 120px;
    z-index: -1;
  }
  .btn-btn-carousel a:hover{
    box-shadow: 0px 0px 0  0px #1ebdc2;
    color: #fff;
  }
  .btn-btn-carousel a:hover:before{
    top: -40px;
    left: -40px;
  }
  
  
  
  .btn-blck {
    border-radius: 4px;
    text-transform: capitalize;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 13px 13px;
    font-size: 14px;
    background-size: 300%;
    transition: all 0.6s;
    font-weight: 650;
}

.black {
    color: #fff;
    background-image: linear-gradient(36deg, #0089c0 50%, black 50%);
}

.btn-blck:hover {
    color: #fff;
    background-position: 100%;
    transform: translateX(0.5rem);
}

.contact-btn a{
    color: #000000;
    font-weight: 800;
}
.btn-hover {
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    background: #fff;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}

.btn-hover:after,
.btn-hover:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.btn-hover:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #37517e;
    border-left: 5px solid #37517e;
}

.btn-hover:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #37517e;
    border-right: 5px solid #37517e;
}

.btn-hover:hover {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    color: #fff;
    background: #007aac;
}

.btn-hover:hover:before,
.btn-hover:hover:after {
    width: 103%;
    height: 112%;
}

 /*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
    background: #37517e;
    border-bottom: 1px solid #fff;
    position: relative;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info i {
    font-style: normal;
    color: #d9ba85;
}

#topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
}

#topbar .languages ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #cda45e;
}

#topbar .languages ul a {
    color: white;
}

#topbar .languages ul li+li {
    padding-left: 10px;
}

#topbar .languages ul li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
    content: "/";
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
   
    background: #37517e;
    position: relative;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}

#header.header-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}
.AuthorizeNetSeal a img{
    width: 80px !important;
    height: auto !important;
}

.nav-call-btn {
    margin: 0 0 0 15px;
    color: #fff;
    border-radius: 50px;
    padding: 11px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    background: #2ca9fd;
}

.nav-call-btn:hover {
    background: #0088c0;
    color: #fff;
}

@media (max-width: 992px) {
    .nav-call-btn {
        margin: 0 15px 0 0;
        padding: 8px 20px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

/*@media (min-width: 1054px) {*/
/*    .navbar {*/
/*        margin-left: 150px !important;*/
/*    }*/
/*}*/


.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    color: #0689b8;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    margin: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    color: #444444;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #fff;
    background: #0689b8;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% + 30px);
    visibility: hidden;
}


.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

/*@media (max-width: 991px) {*/
/*    .mobile-nav-toggle {*/
/*        display: block;*/
/*    }*/

@media (max-width: 1053px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff !important;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #1a1814 !important;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #cda45e;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #cda45e;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

header.scrolled nav ul li a {
    color: black;
}


 /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100%;
    /* background: #001a48; */
        background-color: #000307;
    background: url('../img/bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

.btn-front{
    z-index: 1;
    /* background-color: transparent; */
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding: 14px 36px;
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
    /* border: solid 5px #1ebdc2; */
    /* box-shadow: 12px 12px 0 -5px #1ebdc2; */
    box-shadow: inset 5px -3px 23px 3px #ffffff6b;
    backdrop-filter: blur(10px);
    transition: .3s;
    overflow: hidden;
    letter-spacing: 2px;
}
#hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

#hero .btn-get-started:hover {
    background: #209dd8;
}

#hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
}

#hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

#hero .btn-watch-video:hover i {
    color: #47b2e4;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #hero {
        height: 100%;
        text-align: center;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }

    #hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


/*** Section Title ***/
.section-title {
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #0b0b5c;
}


/*** Facts ***/
.fact-item .fact-icon {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 120px;
    transition: .5s;
}

.fact-item:hover .fact-icon {
    background: var(--dark);
}

.fact-item .fact-icon i {
    color: var(--primary);
    transition: .5;
}

.fact-item:hover .fact-icon i {
    color: #FFFFFF;
}


/*** About & Feature ***/
.about-sec .about-img .img{
    border-radius: 10px !important;
}
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.45);
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid #0b0b5c;
    z-index: -1;
}


/*** Project ***/
.project .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.project .nav .nav-link.active {
    background: var(--primary);
}

.project .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
}

.team-item {
    padding: .75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.team-item .team-social .btn {
    display: inline-flex;
    margin: 0 2px;
    color: var(--primary);
    background: var(--light);
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}




/*================================
            Trin-Trin Animation  
      =================================*/
.trin-trin
{
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trin {

  from {
      transform:rotate3d(0, 0, 1, 0deg);
  }
  20%, 32%, 44%, 56%, 68% {
      transform: rotate3d(0, 0, 1, 0deg);
  }
  23%, 35%, 47%, 59%, 71% {
      transform: rotate3d(0,0,1,15deg);
  }
  26%, 38%, 50%, 62%, 74% {
      transform: rotate3d(0,0,1,0deg);
  }
  29%, 41%, 53%, 65%, 77% {
      transform: rotate3d(0,0,1,-15deg);
  }
  80% {
      transform:rotate3d(0, 0, 1, 0deg);
  }

}
/*phone icon animation end */


/*===============================
        translate up/down animation 
    =================================*/
/* #up-down {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
} */
#up-down {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



#lr-animation{
  -webkit-animation: moverr 1s infinite  alternate;
  animation: moverr 1s infinite  alternate;
}
@-webkit-keyframes moverr {
  0% { transform: translateY(0); }
  100% { transform: translateX(-10px); }
}
@keyframes moverr {
  0% { transform: translateY(0); }
  100% { transform: translateX(-10px); }
}

  /*======================
          OUR SERRVICES 
    ===============================*/
    .title{
      font-size:2em;
      color: #0088C0;
      display:block;
      text-align:center;
      }
      
      .sub-title{
      font-size: 16px;
      color: black;
      display:block;
      text-align:center;
      }
      
      .title:before{
      content:" ";
      font-family:"FontAwesome";
      font-size:30px;
      }
      
      .title:after{
      content:" ";
      font-family:"FontAwesome";
      font-size:30px;
      }
      
      .slick{
      width:90%;
      margin-left:auto;
      margin-right:auto;
      }
      
      .slick table{
      width:100%;
      margin-left:auto;
      margin-right:auto;
      }
      
      .slick table td{
      width:30%;
      padding:1%;
      }
      
      .slick table td ul li{
      list-style:none;
      padding:10px 0px;
      }
      
      .slick table td ul li a{
      text-decoration:none;
      transition:0.5s;
      }
      
      .slick table td ul li a:hover{
      color:#8798bd;
      }
      
      .slick table td ul li h3{
      color: #0088C0;
      }
      
      .slick table td ul li p{
      color: black;
      }
      
      .slick table td:nth-child(1) ul{
      text-align:right;
      }
      
      .slick table td:nth-child(3) ul{
      text-align:left;
      }
      
      .slick table td:nth-child(2) .card{
      margin-left:auto;
      margin-right:auto;
      text-align:left;
      }
      
      .slick .card {
          position: relative;
          width: 90%;
          height:450px;
          overflow: hidden;
          border-radius: 5px;
         }
  
  
         .slick .card::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 900;
          display: block;
          width: 100%;
          height: 100%;
         }
  
        .slick .card_part {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 7;
         display: flex;
         align-items: center;
         width: 100%;
         height: 100%;
         background-size:cover;
         transform: translateX( 700px );
         background-image: url(../img/services/services1.jpg);
         background-repeat:no-repeat;
         animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
         }
  
  
        .slick .card_part.card_part-two {
         z-index: 6;
         background-image: url(../img/services/services4.jpg);
         animation-delay: 7s;
         background-repeat:no-repeat;
         background-size: cover;
         background-position: center;
        }
  
        .slick .card_part.card_part-three {
         z-index: 5;
         background-image: url(../img/services/services3.jpg);
         animation-delay: 14s;
         background-repeat:no-repeat;
         background-size: cover;
         background-position: center;
         }
  
        .slick .card_part.card_part-four {
         z-index: 4;
         background-image: url(../img/services/services-wedevlo.jpg);
         animation-delay: 21s;
         background-repeat:no-repeat;
         background-size: cover;
         background-position: center;
         }
        /*.slick .card_part.card_part-five {*/
        /* z-index: 4;*/
        /* background-image: url(../img/about_1.jpg);*/
        /* animation-delay: 28s;*/
        /* background-repeat:no-repeat;*/
        /* }*/
  
  
        @keyframes opaqTransition {
         3% { transform: translateX( 0 ); }
         25% { transform: translateX( 0 ); }
         28% { transform: translateX( -700px ); }
         100% { transform: translateX( -700px ); }
         }
         
         
         @media (max-width:600px){
         .slick table td{
         width:100%;
         display:block;
         }
         .slick table td:nth-child(1) ul{
      text-align:left;
      }
         }
         
         @media (max-width:500px){
         .slick table td{
         width:100%;
         display:block;
         }
         .slick table td:nth-child(1) ul{
      text-align:left;
      }
      .title{
      font-size:1.3em;
      }
      .sub-title{
      font-size:0.6em;
      }
      .slick table td ul li{
      padding:5px 0px;
      }
         }

/*========================
           footer 
    ===============================*/

    .footer .footer-last .copyright-links li {
      border-right: 1px solid #000;
      display: inline-block;
      line-height: 14px;
      padding: 0 8px 0 0;
      vertical-align: middle;
  }

  .footer .footer-last .copyright-links {
      margin: 0;
      padding: 0 0 10px 0;
      text-align: left;
  }


  /*==============================
                 Ribbon
        =================================*/
  .box-ribbon {
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
    border-radius: 10px;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #1e5799;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #1e5799;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}


  /*====================================
                 Tab Section  
        =======================================*/
  .tab-section ul{
        list-style: none;
    }
    .tab-section .tab-content .lists li {
        border: 2px solid #0088c0;
        padding: 10px;
        border-radius: 23px;
        color: #fff;
        margin: 6px;
        background: #0088c0;
        font-size: 14px;
    }
.btnn{
    display: inline-block;
    padding: 12px 36px;
    background-color: #0088c0;
    border: 1px solid #0088c0;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btnn.active,
.btnn:hover{
    background-color: #fff;
    color: #37517e;
}
.text-center{
  text-align: center;
}

.tab-section {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #07204b, #0b5a7a);
}

@media(min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media(min-width: 1440px) {
    .container {
        max-width: 1310px;
    }
}

.tab-header{
  margin: 32px 0;
}
.hide{
    display: none;
}

.tab-nav{
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid gainsboro;
}
.tab-nav button{
    width: 100%;
}
.tab-nav ul {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.tab-nav ul.show{
    display: block;
}
@media(min-width: 992px){
    .tab-nav {
        max-width: 100%;
        border: 0;
    }
    .tab-nav ul {
        gap: 16px;
        flex-direction: row;
    }
}

.tab-content{
    padding: 32px;
    margin-top: 2px;
    background: #fff;
    border-radius: 5px;
}
.mobile-select{
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px 16px;
    padding-right: 48px;
    cursor: pointer;
    color: #fff;
}
.mobile-select::after{
    content: '\f282';
    font-family: bootstrap-icons;
    display: inline-block;
    position: absolute;
    line-height: 1;
    right: 16px;
    top: 14px;
}
.mobile-select.active::after{
    transform: rotate(180deg);
}
@media(min-width: 992px){
    .mobile-select{
        display: none;
    }
    .tab-nav ul{
        display: flex;
    }
}

/* Seo  */

.other-services{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 10px;
}
.other-services h3{
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: linear-gradient(90deg, #37517e, #0088c0);
    padding: 5px;
    margin: 0;
}
.other-services .services-list p a{
    color: #000000;
    padding: 5px;
}
.other-services .services-list p i{
    font-size: 12px !important;
    font-weight: 500 !important;
}
.other-services p:hover{
    background: #37517e;
    padding: 5px 0 5px 20px;
}
.other-services p a:hover{
   color: #fff;
}
.other-services p{
    padding: 0;
    padding: 5px;
    transition: 0.3s;
    margin: 0 !important;
}

/* Seo Service Offers */
.offer-item {
    position: relative;
    height: 175px;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.offers .offer-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}
.offers p {
    font-weight: 650;
    padding-top: 10px;
}


.app-service-item {
    position: relative;
    height: 400px;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.web-app-devlope-service .app-service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}
.app-service-item p {
    font-weight: 650;
    padding-top: 10px;
}

/* Webkit Scrollbr  */
body::-webkit-scrollbar {
    width: 13px;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, #6e276e 0%, #0088c0 100%);
  }
  
  body::-webkit-scrollbar-thumb {
    background: transparent; /* opacity: 0; should do the thing either */
    box-shadow: 0px 0px 0px 100000vh black;
  }
  
  
  /*============ WEB PORTAL =========*/
  .sec-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
  
  .sec-icon::before {
    content: "";
    position: absolute;
    height: 1px;
    left: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333333;
    width: 50px;
  }
  
  .sec-icon::after {
    content: "";
    position: absolute;
    height: 1px;
    right: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
  }
  
  .advertisers-service-sec {
    background-color: #f5f5f5;
  }
  
  .advertisers-service-sec span {
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .col {
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  
  .advertisers-service-sec .service-card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
  }
  
  .advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#0088c0, rgb(55 81 126));
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
  }
  
  .advertisers-service-sec h3 {
    font-size: 31px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
    z-index: 3;
  }
  
  .advertisers-service-sec p {
    color: #000000;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
  }
  .advertisers-service-sec ul {
    color: #000000;
  }
  
  .advertisers-service-sec .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
  }
  
  .advertisers-service-sec .service-card:hover:after {
    top: 0%;
  }
  
  .service-card .icon-wrapper {
    background-color: #ffffff;
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .service-card:hover .icon-wrapper {
    color: #0dcaf0;
  }
  
  .advertisers-service-sec .service-card:hover h3 {
    color: #ffffff;
  }
  
  .advertisers-service-sec .service-card:hover p {
    color: #f0f0f0;
  }
  .advertisers-service-sec .service-card:hover ul {
    color: #f0f0f0;
  }

  .main-heading-box {
    max-width: 770px;
    margin: auto auto 60px;
    text-align: center;
    padding: 0 15px;
  }

  .web-portal-sec ul img{
    width: 70px;
    height: 70px;
  }
  .web-portal-sec ul li{
    padding: 10px;
  }
@media (max-height: 759px) {
    .responsive-img {
        height: 50%;
    } 
}


/*=========================
            fAQ Section 
    ============================*/
    .faq-sec img {
            width: 100%;
            height: 80%;
        }

        .faq-section {
            width: 100%;
        }

        details {
            font-family: sans-serif;
            margin-bottom: 10px;
            width: 100%;
        }

        details p {
            padding: 10px;
            color: #000;
            border: 1px solid #000000;
            border-radius: 5px;
        }

       summary {
    background-color: #f0f2f3;
    border: 1px solid black;
    color: #000000;
    padding: 15px;
}

       summary:hover {
             background-color: #b8bfc6;
             border: 1px solid black;
             transition: all 150ms ease-in-out;
       }

       details[open] summary {
    background-color: #37517e;
    border: 1px solid black;
    color: #fff;
    margin-bottom: 2px;
}

        details[open] {
            background: #fff;
        }

        details summary {
            cursor: pointer;
            transition: margin 150ms ease-out;
            border-radius: 5px;
        }
        
    /*=========================
            Cards
    ============================*/
        
        .crd {
             transition: background-color 0.5s ease-in-out, border-radius 0.3s ease;
             border-radius: 40px 0 40px 0;
             color: #000000;
             }


        .crd:hover {
            background-color:  #37517e ;
            border-radius:0 40px 0 40px;
            color: white !important;
        }
        .crd:hover h4{
            color: #fff !important;
        }

        
        .card2 {
            border: 2px solid transparent;
            transition: border-color 0.3s ease-in-out;
            border-image-slice: 1;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
               }
       .card2:hover {
           border:2px solid #37517e;
           border-image-slice: 1;
           border-width: 2px;
           border-style: solid;
           animation: rotateBorder 3s linear infinite;
           border-radius: 10px !important;
       }
       
       /*=======================
               Animated Background
            ============================*/
       
        .context {
            width: 100%;
            position: absolute;
            top: 20%;
            text-align: center;
            z-index: 2; /* Ensure the context is above the circles */
        }

        .area {
            background: linear-gradient(180deg, #37517e, #141b1e);
            width: 100%;
            height: 400px; /* Ensure the area covers the full viewport height */
            position: relative;
            overflow: hidden;
        }

        .circles {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1; /* Ensure circles are below the context */
        }

        .circles li {
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate 25s linear infinite;
            bottom: -150px;
        }

        .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }

        .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }

        @keyframes animate {
            0% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
                border-radius: 0;
            }

            100% {
                transform: translateY(-1000px) rotate(720deg);
                opacity: 0;
                border-radius: 50%;
            }
        }
  
  
  /* -----------------------------
 our css
  
  ----------------------------------*/
  .services-cards{
    /* background-color: #040434; */
  }
  
  .services-cards .card{
    border-radius: 1.3rem;
    /* box-shadow: inset 0px 0px 30px 0px #ffffff69; */
  }
  .services-cards .asset {
    z-index: -1;
    width: 300px;
    filter: opacity(0.3);
  }
  
  .frnt-tab-nav .nav-link {
    color: #1c1c1f;
    box-shadow: 0px 0px 10px #cbcbcb;
    margin-right: 1rem;
    margin-bottom: 0.7rem;
    border-radius: 1rem;
    padding: 13px 30px;
    border: 1px solid #dadada;
    font-weight: 600;
    background: #fff;
  }
  .frnt-tab-nav .tab-content{
    padding: 10px;
  }
  .frnt-tab-nav .tab-content>.active {
    display: block;
    /* box-shadow: 0px 0px 10px #d8d8d8; */
    padding: 2rem 1rem;
    border: 1px solid #e3e3e3;
    border-radius: 1rem;
    background: #fff;
}

  
.frnt-tab-nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0088c0;
    transition: linear 0.5s;
}
.frnt-tab-nav .tri-shape-element{
    position: absolute;
    clip-path: polygon(100.1% 0%, 100% 100%, 0% 100.3%);
    width: 100%;
    height: 400px;
    background: #063e56;
    z-index: -1;
    bottom: 0;
    
}
.cross-shape{
    position: absolute;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    width: 100px;
    height: 100px;
    background: #007aac38;
    top: 0;
    transform: scale(1.5);
    z-index: -1;
}

.form-person img{
    height: 450px;
}
@media screen and (min-width: 900px) {
    .form-person{
        z-index: 1;
        left: 45px;
        bottom: 0;
    }
  }
@media screen and (max-width: 900px) {
    .form-person{
        z-index: 1;
        right: 0;
        bottom: 0;
    }
  }

/*===========================
              Testimonial 
      ================================*/
.testimonial-carousel  .center .testimonial-item{
    transform: scale(1.1);
    background-color: white;
    z-index: 1;
    transition: all 0.5s;
    box-shadow: 0 0 15px #dbdbdb;
}
.testimonial-carousel .owl-item .testimonial-item{
    margin: 20px;
    border: 1px solid #2ca9fd;
    padding: 15px;
    border-radius: 1rem;
}


  .testimonial-carousel .text-qoute{
    color: #0467a973;
  }

  .contact-area .tri-shape-element{
    position: absolute;
    clip-path: polygon(100.1% 0%, 100% 100%, 0% 100.3%);
    width: 100%;
    height: 400px;
    background: #063e56;
    z-index: -1;
    bottom: 0;
    
}
.max-w-70{
    max-width: 70px;
    width: 100%;
    padding-top: 10px;
}

/*Image Rotate 360deg */

.box-content img {
            position: relative;
            transition: .5s;
        }

.box-content {
            position: relative;
            transition: .5s;
        }

.box-content:hover img {
            transform: rotateY(360deg);
        }

.box-content:hover {
            transform: translatey(-5px);
        }
        
/*breadcrumbs*/
.breadcrumbs span{
    font-size: 14px;
}

.gradient-background {
            height: 100%;
            background: linear-gradient(62deg, #37517e, #000000, #044386, #37517e);
            animation: gradient 10s ease infinite;
            background-size: 400% 400%;

        }

        @-webkit-keyframes gradient {
            0% {
                background-position: 0 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        @keyframes gradient {
            0% {
                background-position: 0 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
        
    /*Tfn */
    .callNowpopupBnt {
    position: fixed;
    top: 65%;
    right: 12px;
    display: flex;
    align-items: center;
    z-index: 99;
}
.phone-call {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.phone-call:before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: -8px;
    left: -9px;
    width: 82px;
    height: 82px;
    opacity: 1;
    animation: pulse 1.8s ease-out;
    animation-iteration-count: infinite;
    border-radius: 50px;
    border: 1px solid #007aac;
}
.phone-call div {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    line-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
  
  
  
  
  
  
  
  
  
  
  

